<h1 id="modify">Stupid Coaching</h1>

<div class="question_part">
  <span class="question-modify"><%= @question %></span>
  <p class="paragraph-modify"><em>-You</em></p>
</div>

<div class="answer_part">
  <span class="answer-modify"><%= @answer %></span>
  <p class="answer-modify"><em>-Your coach</em></p>
</div>

<span class="link-modify"><%= link_to "Ask a new question", ask_path %>
</span>
